{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}

    <div class="container row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ post.id }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {{ post.date ? post.date|date('Y-m-d H:i:s') : '' }} / By : <a href="{{ path('users_show', {'id': post.author.id}) }}">{{ post.author.username }}</a>
                    <h5>#{{ post.id }} : {{ post.title }}</h5>
                    <p>{{ post.content }}</p>
                </div>
                <div class="card-content">

                    {# <a class="" href="{{ path('comments_new', {'id': post.id}) }}">Comment this post</a> #}
                    <a class="waves-effect waves-light btn" href="{{ path('posts_index') }}">back to list</a>
                    <a class="waves-effect waves-light btn" href="{{ path('posts_edit', {'id': post.id}) }}">edit</a>
                    {{ include('posts/_delete_form.html.twig') }}
                    <br>
                    <br>
                    <hr>
                </div>
                <div class="card-content">
                    <ul class="collection collapsible">
                    
                        {% for comment in post.comments %}
            
                        <li class="collection-item avatar">
                            <img src="{{ comment.author.avatar ? comment.author.avatar : '/images/yuna.jpg' }}" alt="" class="circle">
                            <span class="title"><a href="{{ path('users_show', {'id': comment.author.id})  }}">{{ comment.author.username }}</a></span>
                            <p>{{ comment.date ? comment.date|date('Y-m-d H:i:s') : '' }}<br>
                                {{ comment.content }}
                            </p>
                            <a class="waves-effect waves-light btn" href="{{ path('comments_edit', {'id': comment.id}) }}">edit</a>
                            {{ include('comments/_delete_form.html.twig') }}
                            {# <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> #}
                        </li>
                            
                        {% else %}
                            No commentarie found
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-action">
                    {% if app.user %}
                        <ul class="collapsible">
                            <li class="active">
                                <div class="collapsible-header">
                                    <i class="material-icons align-right">message</i>
                                    <h4>Comment this post</h4>
                                </div>
                                <div class="collapsible-body">
                                    {{ include('comments/_form.html.twig') }}
                                </div>
                            </li>
                        </ul>
                    {% else %}
                        <h5>Les utilisateurs non connectés ne peuvent pas commenter</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
