{% extends 'base.html.twig' %}

{% block title %}Liste des dons{% endblock %}

{% block body %}
    <h1 class="center align">Liste des dons</h1>

    {# <form action="" method="POST">
        <div class="input-field teal lighten-2">
            <input class="text-white" id="search" type="search" value="Recherchez un objet" required>
        </div>
    </form> #}

    <div class="row">
        <div class="col s12">
            <ul id="dropdown2" class="dropdown-content">
                <li><a href="{{ path('objects_byCategory', {'category': 'Vetements'}) }}">Vetements</a></li>
                <li><a href="{{ path('objects_byCategory', {'category': 'Maison'}) }}">Maison</a></li>
                <li><a href="{{ path('objects_byCategory', {'category': 'Jardin'}) }}">Jardin</a></li>
                <li><a href="{{ path('objects_byCategory', {'category': 'Animaux'}) }}">Animaux</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('objects_byCategory', {'category': 'Autres'}) }}">Autres</a></li>
            </ul>
            <a class="btn dropdown-trigger" href="#!" data-target="dropdown2">Tier par catégorie<i class="material-icons right">arrow_drop_down</i></a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th></th>
                <th>Titre</th>
                <th>Description</th>
                <th>Categorie</th>
                <th>Disponible</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for object in objects %}
            <tr>
                {# <td>{{ object.id }}</td> #}
                <td><img class="index_image" src="{{ object.imageURL }}" alt=""></td>
                <td>{{ object.title }}</td>
                <td>{{ object.description }}</td>
                <td>{{ object.categorie }}</td>
                <td>{{ object.received ? 'Oui' : 'Non' }}</td>
                <td>
                    <a class="waves-effect waves-light btn" href="{{ path('objects_show', {'id': object.id}) }}">Voir</a>
                    {# <a class="waves-effect waves-light btn" href="{{ path('objects_edit', {'id': object.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('objects_new') }}">Create new</a>
{% endblock %}
