{% extends 'base.html.twig' %}

{% block title %}Liste de mes annonces{% endblock %}

{% block body %}
    <h1 class="center align">Liste de mes annonces</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Categorie</th>
                <th>Disponible</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for object in objects %}
            <tr>
                <td>{{ object.id }}</td>
                <td><img class="index_image" src="{{ object.imageURL }}" alt=""></td>
                <td>{{ object.title }}</td>
                <td>{{ object.description }}</td>
                <td>{{ object.categorie }}</td>
                <td>{{ object.received ? 'Non' : 'Oui' }}</td>
                <td>
                    <a class="waves-effect waves-light btn green lighten-2" href="{{ path('objects_give', {'id': object.id}) }}">donner</a>
                    <a class="waves-effect waves-light btn" href="{{ path('objects_show', {'id': object.id}) }}">voir</a>
                    <a class="waves-effect waves-light btn" href="{{ path('objects_edit', {'id': object.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="waves-effect waves-light btn" href="{{ path('objects_new') }}">Donner un objet</a>
{% endblock %}
